<h1>All Songs | <a href="/genres">All Genres</a></h1>
<% @songs.each do |song| %>
  <div>
  <a href="/songs/<%= song.song_id %>">View</a> |
  <a href="/songs/<%= song.song_id %>/edit">Edit</a> |
  <a href="/songs/<%= song.song_id %>/delete">Delete</a> |
  <b><%= song.song_name %></b> by <i><%= song.artist %></i>
  <br>
  </div>
<% end %>

<br>
<br>

<div>
<a href="/songs/new">Add New Song</a>
</div>

<div>
<a href="/genres/new">Add New Genre</a>
</div>

<br>

<hr>

<form>
  <h3>Coming Soon! Ability to Search for Songs</h3>
    <div>
      <label for="song_name">Song Name:</label>
      <input id="song_name" type="text" name="song_name">
    </div>

    <div>
      <label for="artist">Artist:</label>
      <input id="artist" type="text" name="artist">
    </div>

    <div>
      <label for="album">Album:</label>
      <input id="album" type="text" name="album">
    </div>  

    <div>
      <label for="genre_id">Genre:</label>
      <select id="genre_id" name="genre_id">
        <option value=""></option>
        <% @all_genres.each do |genre| %>      
          <option value="<%= genre.genre_id %>"><%= genre.genre_name %></option>
        <% end %>
      </select>
    </div> 

    <input type="submit">

</form>