
<!DOCTYPE html>
<html>

<head>
  <title>Edit Song</title>
</head>

<body>
<a href="/songs">Back To All Songs</a><br>

  <h1>Edit Song</h1>
  <form action="/songs/<%= @song.song_id %>" method="post">
    <input name="_method" type="hidden" value="put">
    <div>
      <label for="song_name">Song Name:*</label>
      <input id="song_name" type="text" name="song_name" value="<%= @song.song_name %>" required>
    </div>

    <div>
      <label for="artist">Artist:*</label>
      <input id="artist" type="text" name="artist" value="<%= @song.artist %>" required>
    </div>

    <div>
      <label for="album">Album:</label>
      <input id="album" type="text" name="album" value="<%= @song.album %>">
    </div>  

    <div>
      <label for="genre_id">Genre:</label>
      <select id="genre_id" name="genre_id">
        <option value=""></option>
        
        <% if @all_genres %>
          <% @all_genres.each do |genre| %>      
            <% if @genre && (genre.genre_id == @genre.genre_id) %>
              <option value="<%= genre.genre_id %>" selected><%= genre.genre_name %></option>
            <% else %>  
              <option value="<%= genre.genre_id %>"><%= genre.genre_name %></option>
            <% end %>
          <% end %>
        <% end %>  
      </select> 
      <a href="/genres/new">Add New Genre</a>

    </div> 

    <div>
      <input type="submit">
    </div>

  </form>
  
  <br> 

  <div>
    * Required Field<br>
  </div>

</body>

</html>
