<a href="/songs">Back To All Songs</a><br>
<h1><%= @song.song_name %></h1>
<h3>
  <i>Artist:</i> <%= @song.artist %><br>
  <i>Album:</i> <%= @song.album %><br>
  <i>Genre:</i> <%= @genre.genre_name if @genre %><br>
</h3>

<form style="display:inline;" action="/songs/<%= @song.song_id %>/edit">
  <input type="submit" value="Edit">
</form>
<form style="display:inline;" action="/songs/<%= @song.song_id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>